<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list id="container" *ngIf="data_reciever != undefined && data_reciever.length >0">
    <ion-item *ngFor="let data_item of data_reciever" (click)="previewReview(data_item)">
      <ion-card style="width:100%">
        <ion-card-content>
          <ion-label>{{ data_item.data.name }}</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>